{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <!-- TITLE -->
    <div class="row">
        <div class="col">
            <h3 class="text-centre heading"><strong> Edit A Recipe! </strong></h3>
        </div>
    </div>
    <hr class="horrule">

    <!-- EDIT FORM -->
    <div class="row">
        <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col">
            <!-- RECIPE NAME -->
            <div class="row">
                <div class="col heading-form">
                    Recipe Name: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <input type="text" name="recipe_name" id="recipe_name" placeholder="Guacamole" required class="entry-data" value="{{recipe.recipe_name}}"/>
                </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="row">
                <div class="col heading-form">
                    Description: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <input type="text" name="recipe_description" id="description" placeholder="A fun take on the iconic dish." required class="entry-data" value="{{recipe.recipe_description}}"/>
                </div>
            </div>
            <!-- PHOTO LINK -->
            <div class="row">
                <div class="col heading-form">
                    Photo: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <input type="url" name="photo" id="photo" placeholder="Add link to a photo of the recipe from the web" required class="entry-data" value="{{recipe.photo}}"/>
                </div>
            </div>
            <!-- DIFFICULTY -->
            <div class="row">
                <div class="col heading-form">
                    Difficulty: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <select class="form-control" name="difficulty_level" id="difficulty">
                        <option selected value="{{recipe.difficulty_level}}">{{recipe.difficulty_level}}</option>
                        {% for diffi in difficulty %}
                            {% if diffi.difficulty_level!=recipe.difficulty_level %}
                            <option value="{{diffi.difficulty_level}}">{{diffi.difficulty_level}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- CUISINE TYPE -->
            <div class="row">
                <div class="col heading-form">
                    Cuisine Style: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <select class="form-control" name="cuisine_type" id="cuisine">
                        <option selected value="{{recipe.cuisine_type}}">{{recipe.cuisine_type}}</option>
                        {% for style in cuisine %}
                            {% if style.cuisine_type!=recipe.cuisine_type %}
                            <option value="{{style.cuisine_type}}">{{style.cuisine_type}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- PREP TIME -->
            <div class="row">
                <div class="col heading-form">
                    Preparation Time: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <select class="form-control" name="prep_time" id="preparation">
                        <option selected value="{{recipe.prep_time}}">{{recipe.prep_time}}</option>
                        {% for time_prep in prep %}
                            {% if time_prep.prep_time!=recipe.prep_time %}
                            <option value="{{time_prep.prep_time}}">{{time_prep.prep_time}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- COOKING TIME -->
            <div class="row">
                <div class="col heading-form">
                    Cooking Time: 
                </div>
            </div><div class="row entry-box">
                <div class="input-field col">
                    <select class="form-control" name="cooking_time" id="cooking">
                        <option selected value="{{recipe.cooking_time}}">{{recipe.cooking_time}}</option>
                        {% for cook_time in cook %}
                            {% if cook_time.cooking_time!=recipe.cooking_time %}
                            <option value="{{cook_time.cooking_time}}">{{cook_time.cooking_time}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <!-- SERVING SIZE -->
            <div class="row">
                <div class="col heading-form">
                    Serves: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <input type="number" name="serving_size" id="serving" placeholder="Input how many people this serves / quantity it makes" required class="entry-data" value="{{recipe.serving_size}}"/> 
                </div>
            </div>
            <!-- INGREDIENTS -->
            <div class="row">
                <div class="col heading-form">
                    Ingredients: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <textarea name="ingredients" id="ingredients" 
placeholder="1 large whole avocado, 
1 large ripe tomato,
..." required class="entry-data">{{recipe.ingredients}}</textarea>
                </div>
            </div>
            <!-- METHOD -->
            <div class="row">
                <div class="col heading-form">
                    Method: 
                </div>
            </div>
            <div class="row entry-box">
                <div class="input-field col">
                    <textarea name="method" id="method" 
placeholder="1. Please separate your method steps with numbers. 
2. Like this ..." required class="entry-data">{{recipe.method}}</textarea>
                </div>
            </div>

            <!-- EDIT / CANCEL / DELETE BUTTONS -->
            <div class="row justify-content-around">
                <div class="d-flex col-4 justify-content-center justify-content-md-end align-self-center">
                    <button class="btn" type="submit"> Edit Recipe </button>
                </div>
                <div class="d-flex col-4 justify-content-center align-self-center">
                    <a class="btn" href="{{url_for('home')}}" > Cancel </a>
                </div>
                <div class="d-flex col-4 justify-content-center justify-content-md-start align-self-center">
                    <a class="btn" href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"> Delete Recipe </a> 
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}