{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col">
        <h3 class="text-centre heading"><strong> Edit A Recipe! </strong></h3>
    </div>
</div>
<hr class="horrule">

<div class="row">
	<form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col">
		<div class="row">
            <div class="col heading-form">
                Recipe Name: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="input-field col">
                <input type="text" name="recipe_name" id="recipe_name" placeholder="Guacamole" required class="entry-data" value="{{recipe.recipe_name}}"/>
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Description: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="input-field col">
                <input type="text" name="recipe_description" id="description" placeholder="A fun take on the iconic dish." required class="entry-data" value="{{recipe.recipe_description}}"/>
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Photo: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="input-field col">
                <input type="url" name="photo" id="photo" placeholder="Add link to a photo of the recipe from the web" required class="entry-data" value="{{recipe.photo}}"/>
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Difficulty: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="col dropdown">
                <div class="input-field-dropdown dropdown-toggle" role="button" id="dropdownMenuButtonDiff" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                  {{recipe.difficulty_level}}
                </div>
                
                <select id="difficulty" name="difficulty_level" class="dropdown-menu" aria-labelledby="dropdownMenuButtonDiff" multiple>
                    {% for diffi in difficulty %}
                    <option class="dropdown-item" value="{{diffi.difficulty_level}}">{{diffi.difficulty_level}}</option>
                    {% endfor %}
                </select>
                
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Cuisine Style: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="col dropdown">
                <div class="input-field-dropdown dropdown-toggle" role="button" id="dropdownMenuButtonCui" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                   {{recipe.cuisine_type}}
                </div>
                <select id="cuisine" name="cuisine_type" class="dropdown-menu" aria-labelledby="dropdownMenuButtonCui" multiple>
                    {% for style in cuisine %}
                    <option class="dropdown-item" value="{{style.cuisine_type}}">{{style.cuisine_type}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Preparation Time: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="col dropdown">
                <div class="input-field-dropdown dropdown-toggle" role="button" id="dropdownMenuButtonPrep" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    {{recipe.preparation_time}}
                </div>
                <select id="preparation" name="preparation_time" class="dropdown-menu" aria-labelledby="dropdownMenuButtonPrep" multiple>
                    {% for time_prep in prep %}
                    <option class="dropdown-item" value="{{time_prep.prep_time}}">{{time_prep.prep_time}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Cooking Time: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="col dropdown">
                <div class="input-field-dropdown dropdown-toggle" role="button" id="dropdownMenuButtonCook" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    {{recipe.cooking_time}}
                </div>
                <select id="cooking" name="cooking_time" class="dropdown-menu" aria-labelledby="dropdownMenuButtonCook" multiple>
                    {% for cook_time in cook %}
                    <option class="dropdown-item" value="{{cook_time.cooking_time}}">{{cook_time.cooking_time}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Serves: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="input-field col">
                <input type="number" name="serving_size" id="serving" placeholder="Input how many people this serves / quantity it makes" required class="entry-data" value="{{recipe.serving_size}}"/> 
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Ingredients: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="input-field col">
                <textarea name="ingredients" id="ingredients" 
placeholder="1 large whole avocado, 
1 large ripe tomato,
..." required class="entry-data">{{recipe.ingredients}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col heading-form">
                Method: 
            </div>
		</div>
        <div class="row entry-box">
            <div class="input-field col">
                <textarea name="method" id="method" 
placeholder="1. Please separate your method steps with numbers. 
2. Like this ..." required class="entry-data">{{recipe.method}}</textarea>
            </div>
        </div>

        <div class="row justify-content-around">
            <div class="d-flex col-4 justify-content-center justify-content-md-end align-self-center">
                <button class="btn" type="submit"> Edit Recipe </button>
            </div>
            <div class="d-flex col-4 justify-content-center align-self-center">
                <a class="btn" href="{{url_for('home')}}" > Cancel </a>
            </div>
            <div class="d-flex col-4 justify-content-center justify-content-md-start align-self-center">
                <button class="btn"> Delete Recipe </button> 
            </div>
        </div>
	</form>
</div>
</div>

{% endblock %}