{% extends 'base.html' %} {% block content %}
<div class="container-fluid home-page">

<!-- Loop through any recipes in the database and display them in a card -->
{% for recipe in recipes %}
<div id="accordion">
    <div class="card card-accordion">
        <div class="card-header" id="{{recipe._id}}"> 
            <div class="row">
                <!-- PHOTO -->
                <div class="d-flex col col-md-3 justify-content-center align-self-start">
                    <img src="{{recipe.photo}}" alt="{{recipe.recipe_name}}" class="img-thumbnail img-fluid"> 
                </div>
                <div class="w-100 d-md-none"></div>
                <!-- HIGHLIGHTED DETAILS -->
                <div class="col-10-offset-1 col-md-7 offset-md-0">
                    <h3 class="title"> {{recipe.recipe_name}}</h3> 
                    <p class="description"> {{recipe.recipe_description}} </p>
                    <ul class="info-tab">
                        <li>Prep Time: {{recipe.prep_time}}</li>
                        <li>Cooking Time: {{recipe.cooking_time}} </li> 
                        <li>Difficulty: {{recipe.difficulty_level}} </li> 
                        <li>Serves: {{recipe.serving_size}}</li>
                        <li>Cuisine Style: {{recipe.cuisine_type}}</li>
                    </ul>
                </div>
                <div class="w-100 d-md-none"></div>
                <!-- BUTTONS - EDIT / SHOW MORE -->
                <div class="d-flex col col-md-2 justify-content-around justify-content-md-end flex-md-wrap align-self-md-end">
                    <a class="btn" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"> Edit Recipe </a>
                    <button class="btn" data-toggle="collapse" data-target="#collapse{{recipe._id}}" aria-expanded="true" aria-controls="collapse{{recipe._id}}"
                    id="btn{{recipe._id}}" onclick="buttonUpdate(id)">Show More +</button>
                </div>
            </div>
        </div>
        <!-- INGREDIENTS / METHOD shown when button clicked -->
        <div id="collapse{{recipe._id}}" class="collapse" aria-labelledby="{{recipe._id}}" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col col-lg-5">
                        <h4 class="title"> Ingredients: </h4>
                        <p id="ingredients{{recipe._id}}">
                        {{recipe.ingredients}}
                        </p>
                    </div>
                    <div class="w-100 d-lg-none"></div>
                    <div class="col col-lg-7">
                        <h4 class="title"> Method: </h4>
                        <p id="method{{recipe._id}}">
                        {{recipe.method}}
                        </p>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
