{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col">
        <h3 class="text-centre heading"><strong> Search For A Recipe! </strong></h3>
    </div>
</div>
<hr class="horrule">

<div class="row">
	<form action="{{ url_for('insert_recipe') }}" method="POST" class="col"> <!-- CHANGE THIS TO SEARCH RECIPES WHEN CREATED -->
		<div class="container-fluid searching">
            <div class="row entry-box">
                <div class="col dropdown">
                    <div class="input-field-dropdown dropdown-toggle" role="button" id="dropdownMenuButtonFilt" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    Pick the category to search in
                    </div>

                    <select name="filterOne" id="filterOne" class="dropdown-menu" aria-labelledby="dropdownMenuButtonFilt" multiple onchange="filterSelect(this)">
                        <option value="name" class="dropdown-item">Recipe Name</option>
                        <option value="cuisine" class="dropdown-item">Cuisine Type</option>
                        <option value="difficulty" class="dropdown-item">Difficulty Level</option>
                        <option value="preparation" class="dropdown-item">Preparation Time</option>
                        <option value="cooking" class="dropdown-item">Cooking Time</option>
                        <option value="serving" class="dropdown-item">Serving Size</option>
                    </select>
                </div>
            </div>
            

            <div class="row entry-box">
                <div class="col dropdown">
                    <div class="input-field-dropdown dropdown-toggle" role="button" id="dropdownMenuButtonDiff" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    Pick the difficulty level
                    </div>
                    
                    <select id="difficulty" name="difficulty_level" class="dropdown-menu" aria-labelledby="dropdownMenuButtonDiff" multiple>
                        {% for diffi in difficulty %}
                        <option class="dropdown-item" value="{{diffi.difficulty_level}}">{{diffi.difficulty_level}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
            </div>
        </div>
        
        

        <div class="row justify-content-around">
            <div class="d-flex col justify-content-center align-self-center">
                <button class="btn" type="submit"> Add Filter </button>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="d-flex col justify-content-center align-self-center">
                <a class="btn" href="{{url_for('home')}}" > Search Recipes </a> <!-- CHANGE TO SEARCH LINK -->
            </div>
        </div>
	</form>
</div>
</div>

{% endblock %}